.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: var(--tamanho-texto-btn);
    font-weight: 500;
    cursor: pointer;
}

.botao-secundario{
    background-color: var(--vinho);
    color: var(--fundo-claro);
}

.botao-principal{
    background-color: var(--laranja-destaque);
    color: var(--fundo-escuro);
}



