.lista_produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-items: center;
    margin-bottom: 50px;
}

.botoes_topo{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.botoes_direita{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30%;
}

.botao_esquerda{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.filtrar{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    background-color: var(--laranja-destaque);

    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.filtrar label{
    font-size: 20px;
}

.filtrar select{
    border: none;
    background-color: var(--laranja-destaque);
}

@media screen and (max-width: 1024px){
    .lista_produtos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    .lista_produtos{
        grid-template-columns: 1fr;
    }

    .botoes_topo{
        flex-direction: column;
        gap: 20px;
    }

    .botoes_direita{
        width: 100%;
        gap: 20px;
        flex-direction: column;
    }

    .botao_esquerda{
        width: 100%;
    }
}